
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

    {% include topnav.html %}
      <!-- Default Statcounter code for Blog
      https://charusaie.github.io/Blog/blog/ -->
      <script type="text/javascript">
      var sc_project=12505270; 
      var sc_invisible=1; 
      var sc_security="8329ba59"; 
      </script>
      <script type="text/javascript"
      src="https://www.statcounter.com/counter/counter.js"
      async></script>
      <noscript><div class="statcounter"><a title="Web Analytics
      Made Easy - StatCounter" href="https://statcounter.com/"
      target="_blank"><img class="statcounter"
      src="https://c.statcounter.com/12505270/0/8329ba59/1/"
      alt="Web Analytics Made Easy -
      StatCounter"></a></div></noscript>
      <!-- End of Statcounter Code -->
    <div class="page-content">
        <div class="wrapper">
            {{ content }}
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}
</body>

</html>
